# Dependencies
node_modules

# Build output
dist
dist-ssr

# Logs
logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Coverage
coverage

# ENV
*.local
.env
.env.*

# Python scripts (temporary)
generate_words.py
gen_cat*.py
